@media print {

    body {
        font-family: Tahoma;
        font-size: 11px;
        margin: 0;
        padding: 0;
    }

    .invoice_header p {
        margin-top: 0;
        margin-bottom: 1px;
    }

    .invoice_body {
        width: 420px;
        margin-left: 1px;
        margin-right: 1px;
    }

    .invoice_container {
        border: 0.5px solid grey;
    }

    .invoice_name {
        text-align: center;
    }

    .companyclass th {
        border: 0.5px solid grey;
        text-align: left;
        width: 100%;
    }

        .companyclass th:nth-child(1) {
            width: 210px;
        }


        .companyclass th:nth-child(2) {
            width: 210px;
        }

    .companyclass_2 th {
        border: 0.5px solid grey;
        text-align: left;
        width: 100%;
    }

        .companyclass_2 th:nth-child(1) {
            width: 210px;
        }


        .companyclass_2 th:nth-child(2) {
            width: 210px;
        }

    .companyclass_2 p {
        margin: 0;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .paymentclass tbody tr td {
        border: 0.5px solid grey;
        text-align: left;
        width: 100%;
        padding: 5px padding-bottom: 2px
    }

    .paymentclass td:nth-child(1) {
        width: 90px;
    }

    .paymentclass td:nth-child(2) {
        width: 60px;
    }


    .invoiceNoclass {
        border: 0.5px solid grey;
        width: 256px;
        float: left;
        text-align: left;
    }

    .invoice_header {
        text-align: center;
        margin-bottom: 5px;
        justify-content: space-between;
    }


    .invoice-table {
        width: 100%;
    }


        .invoice-table thead tr {
            text-align: center
        }


        .invoice-table tbody tr {
            border: 0.5px solid grey;
            height: 15px;
        }

            .invoice-table tbody tr td {
                text-align: center;
            }

    .invoice-GST {
        width: 100%;
    }


        .invoice-GST tbody tr td {
            border: 0.5px solid grey;
            padding: 5px padding-bottom: 0px;
            text-align: center;
            vertical-align: -webkit-baseline-middle;
        }

        .invoice-GST th {
            border: 0.5px solid grey;
            padding: 5px padding-bottom: 2px;
            text-align: center;
            vertical-align: -webkit-baseline-middle;
        }


    .invoice_signature {
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: right;
    }

        .invoice_signature tr p {
            text-align: left;
            margin-bottom: 0px;
        }


    .invoice_signature_companyname {
        padding-top: 20px;
        padding-bottom: 20px;
    }


    .invoice_signature_acknowledgement {
        padding-top: 15px;
        width: 100%;
    }


        .invoice_signature_acknowledgement p {
            text-align-last: left;
        }

    .printbutton {
        display: none;
    }

}
