/*.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: introZoom 2s ease-out forwards;
}*/


#typingText {
    color: var(--bs-primary);
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    white-space: pre-wrap;
    /*    word-break: break-word;
*/
}

.responsive-text {
    font-size: clamp(16px, 4vw, 42px);
}

/* base letter */
.letter {
    display: inline-block;
    opacity: 0;
    font-size: inherit;
}

    /* directions */
    .letter.top {
        animation: dropTop 0.6s forwards;
    }

    .letter.left {
        animation: dropLeft 0.6s forwards;
    }

    .letter.right {
        animation: dropRight 0.6s forwards;
    }

    .letter.bottom {
        animation: dropBottom 0.6s forwards;
    }

/* keyframes */
@keyframes dropTop {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes dropLeft {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes dropRight {
    from {
        transform: translateX(50px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes dropBottom {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}



/* Extra Small (small phones) */
@media (max-width: 480px) {
    .responsive-text {
        font-size: 14px;
    }
}

/* Mobile */
@media (min-width: 481px) and (max-width: 767px) {
    .responsive-text {
        font-size: 18px;
    }
}

/* Tablet Portrait */
@media (min-width: 768px) and (max-width: 991px) {
    .responsive-text {
        font-size: 22px;
    }
}

/* Tablet Landscape / Small Laptop */
@media (min-width: 992px) and (max-width: 1199px) {
    .responsive-text {
        font-size: 26px;
    }
}

/* Desktop */
@media (min-width: 1200px) and (max-width: 1599px) {
    .responsive-text {
        font-size: 32px;
    }
}

/* Large Desktop */
@media (min-width: 1600px) {
    .responsive-text {
        font-size: 38px;
    }
}
