<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AspNetCore.Reporting" version="2.1.0" targetFramework="net47" />
  <package id="AspNetCore.ReportingServices" version="2.1.0" targetFramework="net47" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.7" targetFramework="net48" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1652.0" targetFramework="net48" />
  <package id="Microsoft.ReportViewer.2012.Runtime" version="11.0.3452.0" targetFramework="net47" />
  <package id="Microsoft.ReportViewer.WinForms" version="10.0.40219.1" targetFramework="net47" />
  <package id="Microsoft.ReportViewer.Winforms.2010SP1Update" version="10.0.40219.329" targetFramework="net47" />
  <package id="Microsoft.SqlServer.Server" version="1.0.0" targetFramework="net48" />
  <package id="Microsoft.SqlServer.Types" version="170.1000.7" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="QRCoder" version="1.8.0" targetFramework="net48" />
  <package id="QRCoder-ImageSharp" version="0.10.0" targetFramework="net48" />
  <package id="SixLabors.ImageSharp" version="3.1.12" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.CodeDom" version="10.0.7" targetFramework="net48" />
  <package id="System.Data.SqlClient" version="4.9.1" targetFramework="net48" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net47" />
  <package id="System.IO.Pipelines" version="10.0.7" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.ServiceModel.Http" version="10.0.652802" targetFramework="net48" />
  <package id="System.ServiceModel.Primitives" version="10.0.652802" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="10.0.7" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="10.0.7" targetFramework="net48" />
  <package id="System.Text.Json" version="10.0.7" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.2" targetFramework="net48" />
</packages>